@page
@model Sankirtana.Web.Pages.Sales.AddSale

@{
    ViewBag.Title = "Распространение";
}
<h1>@ViewBag.Title</h1>
<br/>

<div>
    <form method="post">
        <div class="mb-3">
            <label for="Book" class="form-label">Книга</label>
            <select class="form-control" id="Book" name="BookId">
                @foreach (var book in Model.BookList)
                {
                    <option value="@book.Id">@book.Name</option>
                }
            </select>
        </div>
        <input type="hidden" name="Date" id="Date"/>
        <button type="submit" id="addSaleSubmit" onclick="OnAddSaleSubmit()" class="btn btn-lg btn-primary">Ушла!</button>
    </form>
    <br/>
    @if (@Model.Sales.Any())
    {
        <h2>Сегодня мной распространено:</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Время</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var sale in Model.Sales)
            {
                <tr>
                    <td><a href="~/sales/editSale?id=@sale.Id">@sale.Book.Name</a>@(sale.Count>1 ? $" ({sale.Count})" : "")</td>
                    <td>
                        <small>@sale.Date.ToShortTimeString()</small>
                    </td>
                    <td class="text-end">
                        <form method="post" action="~/sales/DeleteSale">
                            <input type="hidden" name="id" value="@sale.Id"/>
                            <button type="submit" class="btn btn-sm btn-danger btn-floating" onclick="return OnDeleteClick()">
                              <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    
</div>


<script>
    $(document).ready(function() {
        $('#Book').select2({
           width: '100%'
        });
    });
    
    function OnAddSaleSubmit()
        {
          $('#Date').val(moment().format()); 
          $('#addSaleSubmit').submit();
        }
    
    function OnDeleteClick()
    {
      if (confirm("Удалить?")) {
        		return true;
        	} else {
        		return false;
        	}
    }
</script>
