@page
@model Sankirtana.Web.Pages.EditBook

@{
    
}

<div>
    <form method="post">
        <input type="hidden" value="@Model.Book.Id" name="Id"/>
        <div class="mb-3">
            <label for="bookName" class="form-label">Название книги</label>
            <input type="text" class="form-control" id="bookName" aria-describedby="nameHelp" name="name" value="@Model.Book.Name">
            <div id="nameHelp" class="form-text">Введите тут название книги</div>
        </div>
        <div class="mb-3">
            <p>Очки: @Model.Book.VolumePoints</p>
        </div>
        <div class="mb-3">
                    <label for="Category" class="form-label">Категория</label>
            <select class="form-select" name="Category" id="Category">
                <!option value="">--- Не выбрано ---</!option>
                <!option @(Model.Book.Category == "MahaBig" ? "selected" : "") value="MahaBig">Маха-Биг</!option>
                <!option @(Model.Book.Category == "Big" ? "selected" : "") value="Big">Биг</!option>
                <!option @(Model.Book.Category == "Medium" ? "selected" : "") value="Medium">Средняя</!option>
                <!option @(Model.Book.Category == "Small" ? "selected" : "") value="Small">Маленькая</!option>
            </select>
                </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>